.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  width: 100vw;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.bottom {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  width: 100vw;
  z-index: 100;
  padding: 1em;
  padding: 3em;
}

.backgroundImage {
  background: url("/tokyo.jpeg") no-repeat center center fixed;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.detailsHeader {
  color: white;
  font-size: 3.5em;
  margin: 0;
  line-height: 1em;
}

.comments {
  display: flex;
  color: white;
}

.backButton {
  border: none;
  font-size: 2em;
  margin: 0.5em;
  background: none;
  color: white;
  z-index: 100;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .main {
    max-width: 100%;
  }
}
